<html>
    <body>
        Search:
        <form method = "POST" action = "/search_data">
            <select name="search_filter">
                    <option value="text" selected>Text</option>
                    <option value="username">Username</option>
                    <option value="name">Name</option>
                    <option value="language">Language</option>
            </select>
            <input name = "text">
            <input type = "submit">
        </form>
        Filter date range: (yyyy-mm-dd hh:mm:ss ; yyyy-mm-dd hh:mm:ss): 
        <form method = "POST" action = '/date_filter'>
            <input name = "date_filter">
            <input type = "submit">
        </form>
        Filter by integer parameters: (integer1 - integer2): 
        <form method = "POST" action = "/filter_count">
            <select name="filters">
                <option value="favourites" selected>Favourites</option>
                <option value="retweets">Retweets</option>
                <option value="followers">Followers</option>
                <option value="statuses">Statuses</option>
            </select>
            <input name = "range_filter">
            <input type = "submit">
        </form>
        Sort By: 
        <form method = "POST" action = "/sorted_data">
            <select name = "sorted">
                <option value = 'favourites' selected>Favourites</option>
                <option value = 'followers'>Followeres</option>
                <option value = 'retweets'>Retweets</option>
                <option value = 'statuses'>Statuses</option>
                <option value = 'text'>Text</option>
                <option value = 'created_at'>Created At</option>
            </select>
            <input type = 'submit'>
        </form>

        {% if flag2 != 0 %}       
        <a href="{{previous_url}}"><button type="button">Previous</button></a>
        {% endif %}
        {% if flag1 != 0 %}       
            <a href="{{next_url}}"><button type="button">Next</button></a>
        {% endif %}

        <p>
            <ul>
                {% for tweet in result %}
                    Tweet Created At: {{tweet.created_at}} <br>
                    Tweet ID: {{tweet.tweet_id}} <br>
                    Username: {{tweet.username}} <br>
                    Name: {{tweet.name}} <br>
                    Number of Followers: {{tweet.followers}} <br>
                    Retweets: {{tweet.retweets}} <br>
                    Favourites: {{tweet.favourites}} <br>
                    Statuses: {{tweet.statuses}} <br>
                    User Mentions: {{tweet.user_mentions}} <br>
                    Tweet: {{tweet.text}} <br>
                    Hashtags: {{tweet.hashtags}} <br>
                    Language: {{tweet.language}} <br>
                    <hr>
                {% endfor %}
            </ul>
        </p>
    </body>
</html>