<html>
    <body>
        <form method = "POST" action = "/search_data">
            <input name = "text">
            <input type = "submit">
        </form>
        <form method = "POST" action = "/filter_count">
            <select name="filters">
                <option value="favourites" selected>Favourites</option>
                <option value="retweets">Retweets</option>
                <option value="followers">Followers</option>
                <option value="statuses">Statuses</option>
            </select>
            <input name = "range_filter">
            <input type = "submit">
        </form>
        <form method = "POST" action = "/sorted_data">
            <select name = "sorted">
                <option value = 'favourites' selected>Favourites</option>
                <option value = 'followers'>Followeres</option>
                <option value = 'retweets'>Retweets</option>
                <option value = 'statuses'>Statuses</option>
                <option value = 'text'>Text</option>
                <option value = 'created_at'>Created At</option>
            </select>
            <input type = 'submit'>
        </form>
        
        <p>
            <ul>
                {% for tweet in result %}
                    Tweet Created At: {{tweet.created_at}} <br>
                    Tweet ID: {{tweet.tweet_id}} <br>
                    Username: {{tweet.username}} <br>
                    Name: {{tweet.name}} <br>
                    Number of Followers: {{tweet.followers}} <br>
                    Retweets: {{tweet.retweets}} <br>
                    Favourites: {{tweet.favourites}} <br>
                    Statuses: {{tweet.statuses}} <br>
                    User Mentions: {{tweet.user_mentions}} <br>
                    Tweet: {{tweet.text}} <br>
                    Hashtags: {{tweet.hashtags}} <br>
                    Language: {{tweet.language}} <br>
                    <hr>
                {% endfor %}
            </ul>
        </p>
    </body>
</html>