<html>
    <body>
        Search:
        <form method = "POST" action = "/search_data">
            <select name="search_filter">
                    <option value="text" selected>Text</option>
                    <option value="username">Username</option>
                    <option value="name">Name</option>
                    <option value="language">Language</option>
            </select>
            <input name = "text">
            <input type = "submit">
        </form>

        Filter by integer parameters: (integer1 - integer2): 
        <form method = "POST" action = "/filter_count">
            <select name="filters">
                <option value="favourites" selected>Favourites</option>
                <option value="retweets">Retweets</option>
                <option value="followers">Followers</option>
                <option value="statuses">Statuses</option>
            </select>
            <input name = "range_filter">
            <input type = "submit">
        </form>
        Sort By: 
        <form method = "POST" action = "/sorted_data">
            <select name = "sorted">
                <option value = 'favourites' selected>Favourites</option>
                <option value = 'followers'>Followeres</option>
                <option value = 'retweets'>Retweets</option>
                <option value = 'statuses'>Statuses</option>
                <option value = 'text'>Text</option>
                <option value = 'created_at'>Created At</option>
            </select>
            <input type = 'submit'>
        </form>
        <form method = "POST" action = '/exact'>
        Advanced Search:
            <select name = "exact_choice">
                <option value = 'start' selected>Starts With</option>
                <option value = 'end'>Ends With</option>
                <option value = 'exact'>Exact</option>
            </select>
            <select name = "parameter">
                <option value = 'text' selected>Text</option>
                <option value = 'username'>Username</option>
                <option value = 'name'>Name</option>
                <option value = 'url'>URL</option>
            </select>
            <input name = 'field'>
            <input type = 'submit'>
        </form>
        Pagination
        {% if flag2 != 0 %}       
        <a href="{{previous_url}}"><button type="button">Previous</button></a>
        {% endif %}
        {% if flag1 != 0 %}       
            <a href="{{next_url}}"><button type="button">Next</button></a>
        {% endif %}

        <p>
            <ul>
                {% for tweet in result %}
                <table>
                    <col align="left">
                    <col align="left">
                    <tr><td><b>Tweet Created At:</b></td>    <td>{{tweet.created_at}} </td></tr>
                    <tr><td><b>Tweet ID:</b></td>            <td>{{tweet.tweet_id}} </td></tr>
                    <tr><td><b>Username:</b></td>            <td>{{tweet.username}} </td></tr>
                    <tr><td><b>Name:</b></td>                <td>{{tweet.name}} </td></tr>
                    <tr><td><b>Number of Followers:</b></td> <td>{{tweet.followers}} </td></tr>
                    <tr><td><b>Retweets:</b></td>            <td>{{tweet.retweets}} </td></tr>
                    <tr><td><b>Favourites:</b></td>          <td>{{tweet.favourites}} </td></tr>
                    <tr><td><b>Statuses:</b></td>            <td>{{tweet.statuses}} </td></tr>
                    <tr><td><b>User Mentions:</b></td>       <td>{{tweet.user_mentions}} </td></tr>
                    <tr><td><b>Tweet:</b></td>               <td>{{tweet.text}} </td></tr>
                    <tr><td><b>Hashtags:</b></td>            <td>{{tweet.hashtags}} </td></tr>
                    <tr><td><b>Language:</b></td>            <td>{{tweet.language}} </td></tr>
                    <tr><td><b>URL:</b></td>                 <td>{{tweet.url}} </td></tr>
                </table>
                <hr>
                {% endfor %}
            </ul>
        </p>
    </body>
</html>